<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h1>Create User</h1>
<form action="#" method="POST" th:action="@{/create}" th:object="${user}">
    <input type="text" th:field="*{username}" id="username" placeholder="username"/><br><br>
    <input type="password" th:field="*{password}" id="password" placeholder="password"/><br><br>
    <label>Roles:
        <select size="2" multiple name="roles" required="required">
            <option value="1">ADMIN</option>
            <option selected="selected" value="2">USER</option>
        </select>
    </label>
    <br><br>
    <button type="submit" >Create User</button>

    <br>
    <a href="/logout">Logout</a>
</form>
</body>
</html>