<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form action="#" method="POST" th:action="@{/edit/}" th:object="${user}">
  <input type="hidden" th:field="*{id}" id="id" placeholder="id" readonly="readonly"/>
  <br>
  <input type="text" th:field="*{username}" id="username" placeholder="username"/>
  <br>
  <input type="password" th:field="*{password}" id="password" placeholder="password"/>
  <br>
  <label>Roles:
    <select size="2" multiple name="roles" required="required">
      <option selected="selected" value="2">USER</option>
      <option value="1">ADMIN</option>
    </select>
  </label>
  <br><br>
  <button type="submit" >Edit User</button>
</form>

<br>
<br>
<a href="/logout">Logout</a>
</body>
</html>